*{	-webkit-transition: .7s ease-out;
 	-moz-transition: .7s ease-out;
 	-o-transition:  .7s ease-out;
 	transition: .7s ease-out;
    list-style: none;
}

/*================================
TYPOGRAPHY
================================*/
@font-face {
	font-family: 'got';
	src:url('../fonts/gotham-book.eot');
	src:url('../fonts/gotham-book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/gotham-book.woff') format('woff'),
		url('../fonts/gotham-book.ttf') format('truetype'),
		url('../fonts/gotham-book.svg#gotham-book') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
    font-family: 'got', sans-serif;
    line-height: 1.8em;
}

.navbar-custom {
    background-color:#069599;
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
  	color:#C8C8C8;
  	padding-left:20px;
  	padding-right:20px;
}

.navbar-custom .navbar-nav > li > a {
    color:#fffff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-custom .navbar-brand {
	/*padding-top: -10px; */
    color:#ffffff;
}

.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
	background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #069599;
}

.navbar-custom .navbar-brand {
  	color:#069599;
}
.navbar-custom .navbar-toggle {
  	background-color:#069599;
}
.navbar-custom .icon-bar {
  	background-color:#ffffff;
}

.bigicon {font-size: 3em;}
h2{font-size: 42px;}
h3{font-size: 28px;}
h4{font-size: 18px; line-height: 1.4em;}

p{
    letter-spacing: 1px;
    color: #c3c3c3;
    font-weight: lighter;
}


/*================================
DEFAULT STYLE & FORMATING
================================*/
ol.olfaq {
    list-style-type: none;
    list-style-type: decimal !ie; /*IE 7- hack*/
     
    margin: 0;
    margin-left: 1em;
    padding: 0;
     
    counter-reset: li-counter;
}
ol.olfaq > li{
    position: relative;
    margin-top:15px;
    margin-bottom: 20px;
    padding-left: 1em;
    min-height: 2em;
    border-left: 2px solid #CCCCCC;
}
ol.olfaq > li:before {
    position: absolute;
    top: 0;
    left: -1.7em;
    width: 0.8em;
     
    font-size: 1.2em;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color: #464646;
 
    content: counter(li-counter);
    counter-increment: li-counter;
}

ul{padding: 0;}
a{color: #069498}
a:hover{color: #c3c3c3; text-decoration: none;}

#services{text-align: center;}
.col-md-4, .col-md-6{padding-bottom: 50px;}
.col-md-3 {padding: 0;}

.sectionhead{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

hr.separetor{
    width: 180px;
    color: #363942;
    border-top: 2px solid #069498;
}


.btn-default{
    background: none;
    border: none;
    text-transform: uppercase;
    margin: 50px 0;
    color: #069599;
    letter-spacing: 2px;
}

.btn-default:hover{
    background: none;
    color: #069599;
}

.btnicon, .brandicon{
    margin-right: 10px;
}

p.ans {
	color: #6b6b6b;
}

/*================================
HERO AREA
================================*/
#hero{
    color: #fff;
    text-align: center;
    background: url(../img/bg01.svg)no-repeat; /*your background image*/
    background-position: center;
    max-height: 820px;
    overflow: hidden;
}

.herocontent{
    padding-top: 10px;
    width: 100%;
    max-width: 900px;
}
.heroshot{
    margin-top: 0px;
    width: 100%;
    max-width: 1200px;

}

/*================================
CLIENTS SECTION
================================*/
#clients{
    padding-top: 10px;
}
#clients h4{
    text-transooteorm: uppercase;
    padding-top: 10px;
}

#clients .col-md-4{
    padding-bottom: 0;

}

#clients ul{float: right}

#clients li{
    display: inline;
    margin-right: 35px;
}

#clients li:last-child{
    margin-right: 0px;
}




/*================================
ABOUT SECTION
================================*/
#about{padding-top: 100px;}

.myapps{margin-top: 25px;}
.myapps li{display: inline}
.myapps li img{
    width: 30px;
}
.pf {
	color:#545454;
	line-height: 1.5;
}

/*================================
PORTFOLIO SECTION
================================*/
#portfolio{
    background: #efefef;
    margin-top: 50px;
    padding: 30px 0;
    text-align: center;
}

#shotsByPlayerId li{
    width: 31%;
    float: left;
    padding: 15px;
    margin: 10px;
    background: #fff;
    border-radius: 5px;
}

#shotsByPlayerId li:hover{
    box-shadow: 1px 2px 25px rgba(160, 160, 160, 0.4);
    -webkit-transition: .7s ease-out;
 	-moz-transition: .7s ease-out;
 	-o-transition:  .7s ease-out;
 	transition: .7s ease-out;
}

#shotsByPlayerId li img{
    width: 100%;
    border-radius: 5px;
}

#shotsByPlayerId img:hover{
    opacity: .5;
    overflow: hidden;
}

#shotsByPlayerId a:hover{color: #069498;}

#shotsByPlayerId h3{
    text-align: left;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: normal;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;}

#shotsByPlayerId h3 a{color: #363942;}

.likecount a{float: left; color: #c3c3c3;}
.commentcount a{float: right; color: #c3c3c3;}

/*================================
TESTIMONIAL SECTION
================================*/

.clientsphoto img{
    width: 80px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

.clientsphoto img:hover{
    border-radius: 15%;
}

blockquote{
    margin: 0;
    padding: 0 0 10px 0;
    border: none;
}

blockquote p{   
    font-style: italic;
    font-size: 14px;
}

.quote{overflow: hidden}
.quote h5{margin-bottom: 5px;}


/*================================
FOOTER SECTION
================================*/

footer{
    text-align: center;
    padding: 50px 0;
    background: #057575;
}

footer p, footer .bigicon {color: #069498;}

.footerlinks{margin: 30px 0;}
.footerlinks li{
    display: inline;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.footerlinks li a {color: #069498;}
.footerlinks li a:hover {color: #ffffff;}


.footersocial {margin-top: 30px;}

.footersocial li{
    display:inline;
    padding: 0 15px;
    font-size: 2em;
}

.footersocial li a {color: #069498;}
.footersocial li a:hover {color: #ffffff;}

.copyrighta {color: #069498;}

/*================================
FOLLOW BUTTON
================================
.dribbble-follow-button {
	display: inline-block;
    margin-top: 15px;
}

.dribbble-follow-button .label, .dribbble-follow-button .count {
    font: bold 11px/18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    border: 1px solid #ccc;
    text-decoration: none;
    display: inline-block;
    position: relative;
    border-radius: 3px;
}

.dribbble-follow-button .label {
    padding: 0 3px 0 1px;
    white-space: nowrap;
    background: #e3e3e3;
    background: linear-gradient(top, white, #dedede);
}

.dribbble-follow-button .label i {
    height: 18px;
    width: 18px;
    float: left;
    background: url(../img/icon.png) no-repeat top left;
}

.dribbble-follow-button .label:hover {
    border-color: #bbb;
    background: #fff;
    color: #333;
}

.dribbble-follow-button .label:active {            
     box-shadow: 0 1px 5px rgba(0,0,0,.15) inset;
}

.dribbble-follow-button .count {
    margin-left: 5px;
    padding: 0 3px;
    color: #333;
    border-color: #bbb;
    font-weight: normal;
    background: white;
}

.dribbble-follow-button .count:hover {
    text-decoration: underline;
}

.dribbble-follow-button .count > * {
	top: 50%;
	left: 0;
	margin: -4px 0 0 -4px;
	border: 4px solid transparent;
	border-right-color: #aaa;
	border-left: 0;
	position: absolute;
}

.dribbble-follow-button .count u {
    margin-left: -3px;
    border-right-color: white;
}

*/
